

/* --------------------VIDEO BACKGROUND------------------- */

.video-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    width: 100%;
    height: auto;
}

@media (max-aspect-ratio: 16/9){
    .video-container video {
        height: 100%;
        width: auto;
    }
}

.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}


.content-container {
    padding: 100px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-title {
    text-align: center;
    font-size: 60px;
}

.welcome {
    background: rgba(255,255,255,0.7);
    padding: 50px 70px;
    border-radius: 15px;
    border: 4px solid #000;
}

.card {
    padding: 20px 25px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80);
}

.users-block {
    max-width: 1200px;
    margin: 30px auto;
}

.movies-block h2 {
    border-bottom: 3px solid #000000;
    padding-bottom: 15px;
}

.movies-block {
    background: rgba(255,255,255,0.8);
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 3px solid #000000;
    border-top: 3px solid #000000;
}
.movie-img-block {
    margin-bottom: 15px;
    text-align: center;
}

.paginator {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

.movies-block .btn {
    margin: 10px 0;
}

.paginator li {
    list-style: none;
    border: 2px solid rgba(152, 163, 177, 0.85);
    border-radius: 5px;
    margin: 10px 0;
    margin-right: 15px;
}

.paginator li:last-child {
    margin-right: 0;
}

.paginator a {
    display: block;
    background-color: transparent;
    color: #000000;
    padding: 5px 15px;
    transition: background-color 0.2s;
}

.paginator a:hover {
    background-color: rgba(160, 174, 186, 0.6);
    text-decoration: none;
}

.paginator .cur-page {
    display: block;
    background: #00a2b9;
    color: #ffffff;
    padding: 5px 15px;
}

.card .btn {
    color: #ffffff;
}

.form-title {
    margin-bottom: 35px;
}

.form-control.error {
    border: 2px solid #ff0000;
    border-radius: 0;
}

.form-control.success {
    border: 2px solid #3aa30d;
    border-radius: 0;
}

.message-info {
    color: #265f26;
    margin: 0;
    padding: 0;
}

.error-box {
    height: 20px;
    margin: 0;
    padding: 0 10px;
    font-size: 14px;
    background: #f00;
    color: #fff;
    visibility: hidden;
}

.error-box.error {
    visibility: visible;
}
